@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header input {
    width: 350px;
    height: 40px;
    margin-left: 30px ;
    padding: 15px;
    border: none;
    background-color:rgb(245, 240, 240);
    border-radius: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
header input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-search {
    border: none;
    margin-left: -35px;
    cursor: pointer;
}

.btn-menu-topo {
    width: 150px;
    margin: 5px;
    padding: 15px;
    color: rgb(106, 106, 209);
    border: rgb(106, 106, 209) solid 0.5px;
    background-color: #fdfcfc;
    transition: all 0.3s;
}
.btn-menu-topo:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom:#2A7AE4 solid 2.5px;
}
.btn-menu-topo:active {
    background-color: rgb(228, 228, 228);
    border:#2A7AE4 solid 2.5px;
}

/*main*/

.banner {
    background: url("../src/banner-image.png") no-repeat;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.banner h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 53px;
    color: #FFFFFF;
    margin: 60px 40px 20px 70px;
}
.banner h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500 normal;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0px 0px 0px 70px;
}

.console {
    width: 130px;
    height: 51px;
    margin: 15px 0px 0px 70px;
    color: #FFFF;
    border: none; /*rgb(106, 106, 209) solid 0.5px;*/
    background-color: #2A7AE4;
    cursor: pointer;
    transition: all 0.5s;
} 
.console:hover {
    background-color: #2467c0;
}

.starwars {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.texto-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 150px 10px 150px;
}
.texto-section h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}
.ver-todos {
    display: flex;
    gap: 10px;
}
.texto-section a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #2A7AE4;
    margin-right: 10px;
}
.produtos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 150px;
}
.produto {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 174px;
    margin: 8px 10px;
    padding: 5px;
}
.produto img {
    width: 150px;
    height: 150px;
    
}
.titulo-produto {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0px;
    color: #464646;
}

.preco-produto {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 8px 0px;
    color: #464646;
}

.produto a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 8px 0px 0px 0px;
    color: #2A7AE4;
}

.secao-console {
    
    margin: 150px 0px 150px 0px;
}

.texto-section {
    display: flex;
}

.secao-diversos {
    
    margin: 150px 0px 150px 0px;
}

.secao-principal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 64px;
    background: #EAF2FD;    
}
.logotipo-footer {
    margin: 10px;
}

.menu-links {
    display: flex;
    flex-direction: column;
}
.menu-links a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    margin: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
}
.formulario h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin: 8px 0px;
}
#nome {
    width: 560px;
    height: 56px;
    background: #FFFFFF;
    margin: 8px 0px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8; 
    border-bottom-width: 1px;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
}

#mensagem {
    width: 560px;
    height: 82px;
    background: #FFFFFF;
    margin: 8px 0px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8;
    border-bottom-width: 1px; 
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}

#nome:focus, #mensagem:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btnEnviar {
    width: 165px;
    height: 51px;
    left: 0px;
    top: 189px;
    background: #2A7AE4;
    margin: 8px 0px;
    border-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: all 0.5s;
}
#btnEnviar:hover {
    background-color: #2467c0;
    cursor: pointer;
}

.secao-secundaria-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
}