@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header input {
    width: 350px;
    height: 40px;
    margin-left: 30px ;
    padding: 10px;
    border: none;
    background-color:rgb(245, 240, 240);
    border-radius: 20px;
}

.btn-menu-topo {
    margin: 5px;
    padding: 15px;
    color: rgb(106, 106, 209);
    border: rgb(106, 106, 209) solid 0.5px;
    background-color: #FFFFFF;
    transition: all 0.5s;
}
.btn-menu-topo:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
.btn-menu-topo:active {
    background-color: rgb(228, 228, 228);
}

/*main*/

.banner {
    background: url("./src/banner-image.png") no-repeat;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.banner h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 53px;
    color: #FFFFFF;
    margin: 60px 40px 20px 70px;
}
.banner h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500 normal;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0px 0px 0px 70px;
}

.console {
    width: 130px;
    height: 51px;
    margin: 15px 0px 0px 70px;
    color: #FFFF;
    border: none; /*rgb(106, 106, 209) solid 0.5px;*/
    background-color: #2A7AE4;
    cursor: pointer;
    transition: all 0.5s;
} 
.console:hover {
    background-color: #2467c0;
}

.starwars {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.texto-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 150px 10px 150px;
}
.texto-section h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}
.texto-section a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #2A7AE4;
}
.produtos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 150px;
}
.produto {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 174px;
    margin: 8px 10px;
    padding: 5px;
}
.produto img {
    width: 150px;
    height: 150px;
    
}
.titulo-produto {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0px;
    color: #464646;
}

.preco-produto {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 8px 0px;
    color: #464646;
}

.produto a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 8px 0px 0px 0px;
    color: #2A7AE4;
}

.secao-console {
    margin: 150px 0px 150px 0px;
}